.caixa {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.caixa2 {
  box-sizing: border-box; 
  width: 100px;
  padding: 10px;
  border: 1px solid black;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 38px;
}


nav ul {
  list-style: none;
  
  
  margin: 0;
  padding: 0;
  
  
  background-color: #eea2ff;
}


nav li {
  display: inline-block;
}


nav li a {
  display: block;
  color: rgb(98, 3, 105);
  text-decoration: none;
  padding: 1rem; 
}


nav li a:hover {
  background-color: #aa6bed;
}


nav ul ul {
  display: none;
  position: absolute; 
  background-color: #8d28a9; 
}


nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  display: block;
  width: 200px; 
}

/* 1. Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

/* 2. Container */
.container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: rgb(193, 133, 215);
}

/* 3. Caixas */
.caixa {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 5px solid rgb(117, 24, 209);
  margin: 15px;
  display: inline-block;
}

/* 4. Menu Principal */
.menu-principal ul {
  list-style: none;
  background-color: #3b1e46;
  text-align: center; /* Centraliza os itens inline-block */
}

/* 5. Itens do Menu */
.menu-principal li {
  display: inline-block;
  position: relative; /* Necessário para o submenu */
}

/* 6. Links do Menu */
.menu-principal li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.menu-principal li a:hover {
  background-color: #555;
}

/* 7. Submenu */
.menu-principal ul ul {
  display: none; 
  position: absolute; 
  background-color: #333;
  width: 200px;
  text-align: left; 
}

.menu-principal li:hover > ul {
  display: block; 
}

.menu-principal ul ul li {
  display: block; 
  width: 100%;
}